<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InWS Docs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body style="margin-left: 10%; margin-right: 10%">
    <h1 style="margin-top: 5%;">InWS</h1>
    InWS(InWebStorage) is a console based file storage service developed by the InGames, Inc. You can store and share your files through single line terminal commands everywhere in the world.
    <br>
    <br>
    <strong>Warning: Make sure not to use special characters and Non-English characters while naming or files or opening an account!</strong>
    <div class="card" style="width: 54rem;  margin-top: 5%">
      <div class="card-body">
        <h5 class="card-title">Install InWS</h5>
        <h6 class="card-subtitle mb-2 text-muted">MacOS</h6>
        <p class="card-text">
            Open terminal
            <br>
            <br>
            Enter the following commands:
            <br>
            curl http://www.inws.ml/client/install >> inws.zip
            <br>
            unzip ~/inws.zip
            <br>
            Set your startup command to "source ~/inws.sh" for auto loading
        </p>
      </div>
    </div>

    <div class="card" style="width: 54rem;  margin-top: 5%">
      <div class="card-body">
        <h5 class="card-title">Create account</h5>
        <h6 class="card-subtitle mb-2 text-muted">inws createAccount yourusername yourpassword</h6>
      </div>
    </div>

    <div class="card" style="width: 54rem;  margin-top: 2%">
      <div class="card-body">
        <h5 class="card-title">Login to account</h5>
        <h6 class="card-subtitle mb-2 text-muted">inws login yourusername yourpassword</h6>
          <p class="card-text">You need to login to perform any operations.</p>
      </div>
    </div>

    <div class="card" style="width: 54rem;  margin-top: 2%">
      <div class="card-body">
        <h5 class="card-title">Upload file</h5>
        <h6 class="card-subtitle mb-2 text-muted">inws upload filepath</h6>
      </div>
    </div>

    <div class="card" style="width: 54rem;  margin-top: 2%">
      <div class="card-body">
        <h5 class="card-title">Download file</h5>
        <h6 class="card-subtitle mb-2 text-muted">inws download "filename" savepath</h6>
      </div>
    </div>

     <div class="card" style="width: 54rem;  margin-top: 2%">
      <div class="card-body">
        <h5 class="card-title">Share file</h5>
        <h6 class="card-subtitle mb-2 text-muted">inws addOwner sharedaccountusername "filename"</h6>
      </div>
    </div>

    <div class="card" style="width: 54rem;  margin-top: 2%">
      <div class="card-body">
        <h5 class="card-title">Delete file</h5>
        <h6 class="card-subtitle mb-2 text-muted">inws delete "filename"</h6>
      </div>
    </div>

    <div class="card" style="width: 54rem;  margin-top: 2%">
      <div class="card-body">
        <h5 class="card-title">Search for a file</h5>
        <h6 class="card-subtitle mb-2 text-muted">inws search "filename"</h6>
      </div>
    </div>

    <div class="card" style="width: 54rem;  margin-top: 2%">
      <div class="card-body">
        <h5 class="card-title">List all files</h5>
        <h6 class="card-subtitle mb-2 text-muted">inws list</h6>
      </div>
    </div>

    <center style="margin-top: 5%; margin-bottom: 5%">InWS by InGames, Inc.</center>

    <script>
        function copyFunction() {
        var copyText = document.getElementById("link");

        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */


        document.execCommand("copy");

        alert("Copied!: ");
}
    </script>
</body>
</html>